body {
	margin: 0;
	background-size: 100%;
	background: url('https://voyages.michaelvilleneuve.fr/admin/storage/cache/thumbs/8211a4536f098f877e202085e8b3574c_1760x1280_100_1473953719_best_fit.JPG');
	background-position: center;
	background-attachment: fixed;
}

input[name="place"]::placeholder {
    font-weight: 200;
    color: #a3a3a3;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.example-enter {
  opacity: 0.04;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 800ms ease-in-out;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.04;
  transition: opacity 600ms ease-in-out;
}

.example-appear {
  opacity: 0.04;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in-out;
}
